body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #8AA4B6;
  color: #000;
}

header {
  background-color: #7699B4;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.search {
  flex: 1;
  margin: 0 20px;
}

.search input {
  justify-content: right;
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

nav {
    background-color: #87A6BA;
    padding: 10px 20px;
}

nav a {
    margin-right: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.banner {
  background: url('banner.png') center/cover no-repeat;
  height: 300px;
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.product {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  flex: 1 1 200px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.product p {
  margin: 5px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #6b8da1;
  padding: 30px;
  margin-top: auto;
}

.footer-left h2,
.footer-right h2 {
  margin-bottom: 10px;
}
.sosmed-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer-right a {
  margin-right: 10px;
}
